    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Add Script</a></li>
            				<li role="presentation" class="active">{{#link-to 'logout' class='btn btn-primary btn-small'}}Logout{{/link-to}}</li>
                </ul>
            </nav>
            <h3 class="text-muted">New Python Script</h3>
        </div>
        <section>

            <form id="contentForm" class="form-horizontal" {{action "valueUpdated" on="submit"}}>
                <!-- Form Name -->
                <legend>Spin your own code</legend>
                <!-- Text input-->
                <label for="inputTitle" class="sr-only">Filename/Description</label>
                {{input type="text" value=inputTitle class="form-control" placeholder="Filename/Description" required=true autofocus=true}}
                <!-- Ace editor -->
                {{ember-ace theme="ace/theme/cobalt" mode="ace/mode/python" lines=20 value=value update=(action (mut inputDescription))}}

                <!-- Button -->
                <button disabled={{isProcessing}} id="singlebutton" class="btn btn-lg btn-primary" type="submit">Publish</button>
            </form>
         	  {{#if submitFailed}}
	            <div class="alert alert-danger">{{failedMessage}}</div>
	          {{/if}}
	          {{#if isSlowConnection}}
	            <div class="alert alert-info">Submission seems to be taking more time than usual, please wait.</div>
	          {{/if}}

        </section>
 
    </div>
{{outlet}}
